.favbtn {
    background-color: #dbdbdb;
    border-color: #bbb;
    color: #666;
    border-radius: 5px;
    width: 115px;
}
.favbtn:hover, .favbtn.active {
    text-shadow: 0 1px 0 #b12f27;
    background-color: #f64136;
    border-color: #b12f27;
}
.favbtn:active { 
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.2) inset; 
}
.favbtn span { 
    color: #f64136; 
}
.favbtn:hover, .favbtn:hover span,
.favbtn.active, .favbtn.active span { 
    color: #eeeeee; 
}
.favbtn:active span {
    color: #b12f27;
    text-shadow: 0 1px 0 rgba(255,255,255,0.3);
}

.btn-counter{
    float: right;
}

.btn-counter:after,.btn-counter:hover:after { 
    text-shadow: none; 
}

.btn-counter:after {
  padding: 8px;
  content: attr(data-count);
}

.btn-counter:before {
  transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476, sizingMethod='auto expand');
  content: '';
} 